img {
    height: 200px;
    border: inset green;
    margin:15px;
    padding:5px;
}

h1{
padding: 10px;
   border: 5px outset yellow;
    margin:15px;
}

p{
padding: 10px;
   margin:10px;
    border: 10px outset blue;
}

.dogTroy{
border:10px ridge #009900;
}

.catDuchess{
border: 10px outset #ff6666;
}

.Catduchess{
border:10px inset #ff6666;
}

body{
background-color: #999966;
}

p{
margin-top:25px;
}

h3{
font-family: 'Nerko One', cursive;
}

p{
font-family: 'Nerko One', cursive;
}

h1{
font-family: 'Nerko One', cursive;
}

li{
font-family: 'Nerko One', cursive;
}

ul{
margin:10px;
    padding:10px;
    border:10px solid #33cccc;
}

li{
margin:10px;
    padding:10px;
    border:10px outset #33cccc;
}

ul{
background-color:#66ff99;
}